<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: head"/>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<div class="container">
    <div th:replace="/fragments/sorting :: sorting(baseUrl='/movies?userId='+${user.id})"></div>
    <h4 th:text="'Movies of '+${user.firstName} + ' ' + ${user.lastName} ">Username Movies</h4>
    <div class="starter-template panel" th:each="movie : ${moviesPage}">
        <div th:replace="/fragments/movie :: movie"/>
    </div>
    <div th:replace="/fragments/pagination :: pagination(baseUrl='/movies?userId='+${user.id})"></div>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>
